body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 3rem;
}

svg {
    fill: aliceblue;
}

a svg:hover {
    opacity: 70%;
}

header {
    padding-left: 2rem;;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #24292F;
}

header input{
    border-radius: 0.3rem;
    border: 1px solid rgba(255,255,255,0.7);
    padding-left: 1rem;
    padding-top: 0.3rem;
    background: #24292F;
}

nav {
    display: flex;
    justify-content: space-between;
}

.one {
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

ul, a{
    color:#fff;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: start;
    gap: 1rem;
    font-family: sans-serif;
}

ul, a:hover{
    color: rgba(255,255,255,0.7);
}

.two {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
}

.two svg {
    color:#fff;
    cursor: pointer;
}

.two svg:hover {
    color: rgba(255,255,255,0.7);
}

.twoB {
    display: flex;
    align-items: center;
}